<h1 id='up-h1'>Atualizar dados de um Cliente</h1>

<%= render "form", cliente: @cliente %>

<br>

<div class='link-to-div'>
  <%= link_to "Exibir cliente", @cliente %>
  <%= link_to "Retornar aos clientes", clientes_path %>
</div>
