<h1 id='up-h1'>Editing cliente</h1>

<%= render "form", cliente: @cliente %>

<br>

<div class='link-to-div'>
  <%= link_to "Exibir cliente", @cliente %> |
  <%= link_to "Clientes", clientes_path %>
</div>
