<h1 id='up-h1'>New cliente</h1>

<%= render "form", cliente: @cliente %>

<br>

<div class='link-to-div'>
  <%= link_to "Retornar aos clientes", clientes_path %>
  <%= link_to "Home", root_path %>
</div>
