<!DOCTYPE html>
<html lang="pt">
<head>
  <title>Hotel-sim</title>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="application.css">
</head>

<body>
<main>
  <div class="logo">
  </div>
  <h1 class="app-name">Hotel-sim</h1>

  <p>O hotel-sim trata-se de uma ferramenta de gerenciamento de hospedagem para um hotel, possuindo como cliente, um administrador do estabelecimento, que poderá, através desse sistema, alugar cômodos para clientes por meio digital, ver o desempenho de seus funcionários, avaliar as condições de cada cômodo, como bem comunicar-se com seus hóspedes.</p>
</main>
<p> <%= link_to "Reservas", reservas_path%> <br/> </p>
</body>
</html>