<body>

<main>
  <div class="center">
    <h4 class="ui icon medium header">
      <i class="circular inverted orange hire a helper icon"></i>
      <div class="content">
        Hotel-sim
        <div class="sub header"></div>
      </div>
    </h4>
  </div>
  <p>O hotel-sim trata-se de uma ferramenta de gerenciamento de hospedagem para um hotel.</p>
</main>
</br>
</br>
</br>
<button class="ui blue submit button"><%=link_to "Cadastrar", new_cliente_path, style: "color: black;" %></button>

</body>