<h1 id='up-h1'>Editing reserva</h1>

<%= render "form", reserva: @reserva %>

<br>

<div class='link-to-div'>
  <%= link_to "Exibir esta reserva", @reserva %>
  <%= link_to "Retornar às reservas", reservas_path %>
</div>
