<h1 id='up-h1'>Editing reserva</h1>

<%= render "form", reserva: @reserva %>

<br>

<div class='link-to-div'>
  <%= link_to "Show this reserva", @reserva %> |
  <%= link_to "Back to reservas", reservas_path %>
</div>
