<h1 id='up-h1'>New reserva</h1>

<%= render "form", reserva: @reserva %>

<br>

<div class='link-to-div'>
  <%= link_to "Retornar às reservas", reservas_path %>
  <%= link_to "Home", root_path %>
</div>
