<p style="color: green"><%= notice %></p>

<%= render @reserva %>

<div>
  <%= link_to "Editar reserva", edit_reserva_path(@reserva) %>
  <%= button_to "Remover reserva", @reserva, method: :delete %>
</div>
