<h1 id='up-h1'>Atualizar dados de um Quarto</h1>

<%= render "form", quarto: @quarto %>

<br>

<div>
  <%= link_to "Exibir quarto", @quarto %>
  <%= link_to "Retornar aos quartos", quartos_path %>
</div>

