<h1>Editing quarto</h1>

<%= render "form", quarto: @quarto %>

<br>

<div>
  <%= link_to "Exibir quarto", @quarto %> |
  <%= link_to "Quartos", quartos_path %>
</div>

<br>
<%= link_to "Home", root_path %>
