@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Noto+Serif&family=Poppins:wght@300;500;600;700&display=swap');

/* ESTILO GERAL - INÍCIO */
/* Propriedades Iniciais de todos os Elementos da Página */
* {
    font-family: 'Noto Serif', serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

/* Base da Página */
html {
    height: 100%;
}

/* Corpo da Página */
body {
    position: relative;
    min-height: 100%;
}

/* Cabeçalho da Página */
header {
    background-color: #f39b13;
    width: 100%;
    top: 0;
    left: 0;
    color: white;
    font-size: 24px;
}

/* Navegador do Cabeçalho */
header nav ul {
    background-color: #c27c0f;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Elemento da Lista de um Navegador do Cabeçalho */
header nav ul li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    transition: text-shadow 0.3s ease;
}

/* Conteúdo da Página */
.content {
    margin: 10px;
}

/* Rodapé da Página */
footer {
    background-color: black;
    color: white;
    bottom: 0;
    position: absolute;
    width: 100%;
    font-size: 12px;
}

/* ESTILO GERAL - FIM */

/* PÁGINA INICIAL - RODA DE IMAGENS - INÍCIO */
/* Contâiner de Cada Célula */
.gallery-cell {
    width: 300px;
    height: 230px;
    margin-right: 10px;
    background: #fcbe03;
    counter-increment: gallery-cell;
}

/* Espaços de Margem */
.gallery-cell::before {
    display: block;
    text-align: center;
    color: white;
}

/* Elemento "Div" da Célula */
.gallery-cell-div {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

/* Botão do Elemento "Div" da Célula */
.gallery-cell-div button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    width: inherit;
    color: inherit;
    font-size: inherit;
}
/* PÁGINA INICIAL - RODA DE IMAGENS - FIM */

/* ESTILO PARA MENSAGENS DE ERROS - INÍCIO */

/* Mensagem de Erro Geral */
.errors h2{
    cursor: pointer;
}

/* Lista de Mensagens de Erro */
.errors ul{
    display: none;
    position: absolute;
    list-style: none;
    background-color: beige;
    width: 50%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,20%);
    z-index: 1;
}

/* Interação de hover com o Mouse */
.errors h2:hover + ul{
    display: block;
}

/* ESTILO PARA MENSAGENS DE ERROS - FIM */

/* ESTILO DO CONTEÚDO - INÍCIO */
/* Index pages */


.list{
    width: 100%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
}

.show-grid {
    background-color: rgb(1 73 95);
    color: white;
    margin: 1px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.show-grid a{
    color: rgb(105 191 231);
    text-decoration: none;
}

.links{
    margin-top: 5%;
    display: flex;
    gap: 3px;
    position: fixed;
    bottom: 10%;
}

.links a{
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(0 104 122);
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

.links a:hover{
    background-color: rgb(0 174 218);
    cursor: pointer;
}

/* End of Index pages */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}
.popup-container {
    width: 80%;
    margin-top: 2%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    overflow-y: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.client-option {
    background-color: rgb(1 73 95);
    color: white;
    margin: 1px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.room-option {
    background-color: rgb(1 73 95);
    color: white;
    margin: 1px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}
/* ESTILO DO CONTEÚDO - FIM */