<p>Olá <%= @resource.email %>!</p>

<p>Você está tentando alterar a sua senha? Se sim, clique no link abaixo.</p>

<p><%= link_to 'Alterar senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez isso, por favor, ignore este email.</p>
<p>Sua senha não será alterada até que você acesse o link acima ou crie uma nova.</p>
