<div class="item">
  <%= link_to "Home", root_path, style: "color: black;" %>
</div>
<div class="item">
  <%= link_to "Quartos", quartos_path, style: "color: black;" %>
</div>
<div class="right menu">
</div>

<div class="item">
  <button class="ui blue submit button"><%=link_to "Cadastrar", new_cliente_path, style: "color: black;" %></button>
</div>
