<div class="item">
  <%= link_to "Home",root_path, style: "color: black;" %>
</div>
<a class="item">
</a>
<div class="right menu">
</div>
<!---
<div class="item">
  <button class="ui blue submit button"><%=link_to "login", root_path, style: "color: black;" %></button>
</div>
---->